.site-block {
  padding: $space-large $space-small;
}
.site-block-hero {
  background: #f9f9f9;
  @include flexbox;
  align-items: flex-end;
  height: 80vh;
  padding: $space-small;
  @media (min-width: $mq-tablet) {
    height: 540px;
  }
}
.site-block-header {
  margin: 0 0 $space-medium;
}
.site-block-footer {
  padding-bottom: $space-small;
}