.case-home-img-teaser {
  margin: 0 0 $space-small;
  width: 100%;
  @media (min-width: $mq-laptop) {
    margin: 0;
  }
}
.case-home-content-teaser {
  @include flexbox;
  @include flex-wrap(wrap);
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  & > * {
    width: 100%;
  }
}