.case-home-img-teaser {
  margin: 0 0 $space-small;
  width: 100%;
  @media (min-width: $mq-laptop) {
    margin: 0;
  }
}
.case-home-content-teaser {
  @include flexbox;
  @include flex-wrap(wrap);
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  & > * {
    width: 100%;
  }
}

.cases_organics-alive {
  $brand-color-1: #C4D601;

  .color-text-b1 {
    color: $brand-color-1;
  }
}