.site-header {
  height: 60px;
  left: 0;
  padding: $space-small;
  position: absolute;
  right: 0;
  @include transition;
  z-index: 100;
  @media (min-width: $mq-tablet) {
    position: fixed;
  }
}
.site-header-logo {
  @include flexbox;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  @media (min-width: $mq-tablet) {
    align-items: center;
  }
}
.site-header-logo-link {
  display: block;
  height: auto;
  width: 128px;
}
.site-header-logo-img {
  height: auto;
  width: 100%;
}