// _type.scss

  // General
    * {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-text-size-adjust: 100%;
      text-rendering: optimizeLegibility;
    }
    html {
      font-size: 62.5%;
    }
    body {
      font-family: $font-primary;
      font-size: 1em;
      line-height: 1.5;
    }

    .t-144 {
      @include font-size(128);
      @media (min-width: $mq-tablet) {
        @include font-size(144);
      }
    }
    .t-96 {
      @include font-size(64);
      @media (min-width: $mq-tablet) {
        @include font-size(96);
      }
    }
    .t-72 {
      @include font-size(64);
      @media (min-width: $mq-tablet) {
        @include font-size(72);
      }
    }
    .t-64 {
      @include font-size(36);
      @media (min-width: $mq-tablet) {
        @include font-size(64);
      }
    }
    .t-48 {
      @include font-size(28);
      @media (min-width: $mq-tablet) {
        @include font-size(48);
      }
    }
    .t-36 {
      @include font-size(24);
      @media (min-width: $mq-tablet) {
        @include font-size(36);
      }
    }
    .t-28 {
      @include font-size(18);
      @media (min-width: $mq-tablet) {
        @include font-size(28);
      }
    }
    .t-24 {
      @include font-size(16);
      @media (min-width: $mq-tablet) {
        @include font-size(24);
      }
    }
    .t-18 {
      @include font-size(14);
      @media (min-width: $mq-tablet) {
        @include font-size(18);
      }
    }
    .t-16 {
      @include font-size(12);
      @media (min-width: $mq-tablet) {
        @include font-size(16);
      }
    }
    .t-14 {
      @include font-size(10);
      @media (min-width: $mq-tablet) {
        @include font-size(14);
      }
    }
    .t-12 {
      @include font-size(10);
      @media (min-width: $mq-tablet) {
        @include font-size(12);
      }
    }
    .t-10 {
      @include font-size(8);
      @media (min-width: $mq-tablet) {
        @include font-size(10);
      }
    }
    .t-light {
      font-weight: 300;
    }
    .t-normal {
      font-weight: 400;
    }
    .t-book {
      font-weight: 500;
    }
    .t-bold {
      font-weight: 700;
    }
    .t-smallcap {
      @extend .t-16;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
    }

  // Links
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }

  // Paragraphs
    p, li {
      @extend .t-24;
      color: $color-black-80;
      margin: 0 0 $space-small 0;
    }

  // Headers
    h1, h2, h3, h4, h5, h6 {
      color: $color-black;
      display: inline-block;
      @extend .t-normal;
      line-height: 1.3;
      margin: 0 0 $space-x 0;
      position: relative;
      width: 100%;
    }
    h1, h2, h3 {

    }
    h4, h5, h6 {

    }

    .h1 {
      @extend .t-64;
    }
    .h2 {
      @extend .t-48;
    }
    .h3 {
      @extend .t-36;
    }
    .h4 {
      @extend .t-24;
    }
    .h5 {
      @extend .t-18;
    }
    .h6 {
      @extend .t-16;
    }

    // p + h1, p + h2, p + h3, p + h4, p + h5, p + h6 {
    //   margin-top: $space-medium;
    // }

  // Lists
    ul {
      list-style: disc;
      li {
      }
    }

  // Superscript & Subscript
    sub {
      bottom: 0;
      font-size: 50%;
    }

  // Classes
    .lineheight-tight {line-height: 1}
    .lineheight-normal {line-height: 1.5}
    .lineheight-loose {line-height: 2}